body {
  height: max-content;
  background: #ffffff;
  font-family: futura;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.header {
  margin-top: 5rem;
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}

h1 {
  max-width: fit-content;
  font-size: 3rem;
  position: relative;

  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

h1::before {
  content: attr(data-text);
  position: absolute;

  width: 0;
  height: 100%;
  color: #6981a0;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #383d52;
  overflow: hidden;
  animation: animate 4s linear;
}

@keyframes animate {
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90% {
    width: 100%
  }
}

a {
  text-decoration: none;
  color: black;
}

.list {

  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 1.5rem;
  margin-top: 4rem;
  gap: 1rem;
}

.list__text {
  transition: 0.5s
}

.list__text:hover {
  font-size: 2.5rem;
  color: #6981a0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 1rem;
  border: 1px solid black;

}

.link__to__home {
  position: sticky;
  right: 0;
}

.p-site-by {
  margin: 0 auto;
}