* {
  font-family: 'General Sans', sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: black;
  color: white;
}

a {
  color: white;
}

.header {
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.header a {
  color: white;
  font-weight: bold;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  /* display: flex;
  justify-content: space-between; */
}

.footer p a {
  color: white;
}

.image-container {
  min-width: 100vw;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.background__text {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 50%;
  z-index: -1;
  opacity: 0.7;
  color: white;
}

.disclaimer {
  position: relative;
  bottom: 0;
  margin-top: 2rem;
  text-align: center;
}

/* xxs  */
@media (min-width: 320px) {
  .image-container {
    min-width: 320px
  }
  
  img {
    width: 20rem;
  }

  .disclaimer {
    font-size: 11px
  }
}

/* xs */
@media (min-width: 475px) {
  .image-container {
    min-width: 475px
  }
  
  img {
    width: 20rem;
  }

  .disclaimer {
    font-size: 11px
  }
}

/* sm */
@media (min-width: 640px) {
  .image-container {
    min-width: 640px
  }
  
  img {
    width: 30rem;
  }

    .disclaimer {
    font-size: 16px
  }
}

/* md */
@media (min-width: 768px) {
  .image-container {
    min-width: 768px
  }
  
  img {
    width: 30rem;
  }

    .disclaimer {
    font-size: 16px
  }
}

/* lg */
@media (min-width: 1024px) {
  .image-container {
    min-width: 1024px
  }
  
  img {
    width: 35rem;
  }

    .disclaimer {
    font-size: 16px
  }
}

/* xl */
@media (min-width: 1280px) {
  .image-container {
    min-width: 1280px
  }
  
  img {
    width: 35rem;
  }

    .disclaimer {
    font-size: 16px
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .image-container {
    min-width: 1536px 
  }
  
  img {
    width: 40rem;
  }

    .disclaimer {
    font-size: 16px
  }
}

