* {
  font-family: 'General Sans', sans-serif ;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  white-space: nowrap;
  background-color: #f5f3f0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0
}

a {
  color: black
}

.link {
  color: black
}

.header {
  /* border: 1px solid black; */
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  min-width: 100vw;
}

.header:hover {
  color: #6981a0;
}

.footer {
  min-width: 100vw;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.footer .site-by a {
  text-decoration: none;
  color: black;
}

.footer .site-by p {
  margin: 0;
}

.background__text {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 50%;
  z-index: -1;
  opacity: 0.7;
}

.link {
  padding-left: 2rem
}

/* images */

img {
  object-fit: cover;
  width: 10rem;
}

.images-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.individual-image-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

/* xxs  */
@media (min-width: 320px) {
  img {
    width: 23rem;
  }
  
  .individual-image-container {
    min-width: 320px;
  }

  .images-container {
    gap: 2rem;
  }

}

/* xs */
@media (min-width: 475px) {
  img {
    width: 25rem;
  }
  
  .individual-image-container {
    min-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  img {
    width: 25rem;
  }
  
  .individual-image-container {
    min-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  img {
    width: 30rem;
  }
  
  .individual-image-container {
    min-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  img {
    width: 35rem;
  }
  
  .individual-image-container {
    min-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  img {
    width: 40rem;
  }
  
  .individual-image-container {
    min-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  img {
    width: 45rem;
  }
  
  .individual-image-container {
    min-width: 1536px;
  }
}