.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}

.p-site-by {
  margin: 0 auto;
}

.third__text {
  text-decoration: none;
  color: black;
}