* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  background-color: black;
}

.main-body {
  width: 100%;
}

.main-body .header {
  font-size: 1.5rem;
  /* background-color: beige; */
  margin-bottom: 1.5rem;
}

.container .main-body .header .title {
  font-weight: bold;
}

.main-body .header .typing-container {
  display: flex;
  align-items: center;
}

.main-body .list {
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  line-height: 50px;
  margin-top: 5rem;
}

.main-body .list .list-container {
  display: flex;
  align-items: center;
  transition: 0.35s;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.main-body .list .list-container a {
  text-decoration: none;
  color: #fff;
  transition: 0.35s;
}

.main-body .list .list-container a:hover {
  text-decoration: underline;
  color: #fff;
}

.main-body .list .list-container:hover {
  background-color: blue;
  box-shadow: 0 0 10px 5px rgb(113, 186, 255);
  color: #fff;
  border: none;
  border-radius: 10px
}

.main-body .list .list-container.procreate {
  margin-bottom: 0.5rem;
}




/* xxs  */
@media (min-width: 320px) {
  .main-body {
    min-width: 320px;
  }

  .container .main-body .header .title {
    font-size: 40px;
  }
  .main-body .header .typing-container {
    font-size: 20px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 20px;
  }
}

/* xs */
@media (min-width: 475px) {
  .main-body {
    min-width: 475px;
  }

  .container .main-body .header .title {
    font-size: 50px;
  }
  .main-body .header .typing-container {
    font-size: 30px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 20px;
  }
}

/* sm */
@media (min-width: 640px) {
  .main-body {
    min-width: 640px;
  }

  .container .main-body .header .title {
    font-size: 50px;
  }
  .main-body .header .typing-container {
    font-size: 30px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 20px;
  }
}

/* md */
@media (min-width: 768px) {
  .main-body {
    min-width: 768px;
  }

  .container .main-body .header .title {
    font-size: 80px;
  }
  .main-body .header .typing-container {
    font-size: 50px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 30px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .main-body {
    min-width: 1024px;
  }

  .container .main-body .header .title {
    font-size: 80px;
  }
  .main-body .header .typing-container {
    font-size: 50px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 30px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .main-body {
    min-width: 1280px;
  }

  .container .main-body .header .title {
    font-size: 80px;
  }
  .main-body .header .typing-container {
    font-size: 50px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 30px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .main-body {
    min-width: 1536px;
  }

  .container .main-body .header .title {
    font-size: 80px;
  }
  .main-body .header .typing-container {
    font-size: 50px;
  }
  .main-body .list {
    /* background-color: beige; */
    font-size: 30px;
  }
}

















#cursor {
  color: rgb(0, 0, 0);
  animation: blink 0.85s linear infinite;
  margin-left: -1px
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.footer {
  /* background-color: blue; */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.footer p a {
  color: #fff;
}
