* {
  font-family: 'General Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 95vh;
}

/* .header {
  border: 1px solid black;
} */

.header__text {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.categories {
  /* border: 1px solid blue; */
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

a {
  color: black;
}

.arrow {
  display: inline-block;
}

.image__container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

img {
  width: 10rem;
}

footer {
  /* border: 1px solid purple; */
  min-width: 100vw;
  margin-top: auto;
  padding-left: 3rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.footer__text {
  margin: 0;
  display: inline-block;
  margin-right: 0.5rem;
}

.rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards; 
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* xxs  */
@media (min-width: 320px) {
  .header {
    max-width: 320px;
  }

  .header__text {
    font-size: 1.5rem;
  }
  
  .categories {
    font-size: 1.2rem;
  }

  img {
    width: 10rem;
  }
}

/* xs */
@media (min-width: 475px) {
  .header {
    max-width: 475px;
  }

  .header__text {
    font-size: 1.7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .categories {
    font-size: 1.2rem;
    padding-left: 2.5rem;
  }

  img {
    width: 11rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .header {
    max-width: 640px;
  }

  .header__text {
    font-size: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;
  }
  
  .categories {
    font-size: 1.5rem;
    padding-left: 10rem;
  }

  img {
    width: 12rem;
  }
}

/* md */
@media (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header__text {
    font-size: 2.2rem;
    padding-right: 10rem;
    padding-left: 10rem;
  }
  
  .categories {
    font-size: 1.5rem;
    padding-left: 10rem;
  }

  img {
    width: 15rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header {
    max-width: 1024px;
  }

  .header__text {
    font-size: 2.5rem;
    padding-right: 16rem;
    padding-left: 16rem;
  }
  
  .categories {
    font-size: 1.5rem;
    padding-left: 16rem;
  }

  img {
    width: 15rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }

  .header__text {
    font-size: 2.5rem;
    padding-right: 16rem;
    padding-left: 16rem;
  }
  
  .categories {
    font-size: 1.5rem;
    padding-left: 16rem;
  }

  img {
    width: 15rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header {
    max-width: 1536px;
  }

  .header__text {
    font-size: 2.5rem;
    padding-right: 16rem;
    padding-left: 16rem;
  }
  
  .categories {
    font-size: 1.5rem;
    padding-left: 16rem;
  }

  img {
    width: 15rem;
  }
}