body {
  font-family: 'General Sans', sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.header {
  margin-top: 5rem;
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}

h1 {
  max-width: fit-content;
  font-size: 3rem;
  position: relative;
  margin: 0;

  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

h1::before {
  content: attr(data-text);
  position: absolute;

  width: 0;
  height: 100%;
  color: #6981a0;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #383d52;
  overflow: hidden;
  animation: animate 4s linear;
}

@keyframes animate {
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90% {
    width: 100%
  }
}

.list a {
  font-family: futura;
  text-decoration: none;
  color: black
}

.list {
  max-height: 179px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;

  font-size: 1.5rem;
  margin-top: 4rem;
  gap: 2rem;
}

.list__text {
  transition: 0.5s;
}

.list__text:hover {
  font-size: 2.5rem;
  color: #6981a0;
}

.footer {
  min-width: 100vw;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  font-weight: normal;
}

.site-by {
  padding-left: 1rem;
  padding-bottom: 1rem;;
}

.footer .site-by a {
  color: black;
}

.footer .site-by p {
  margin: 0;
  padding-left: 1rem;
}

/* xxs  */
@media (min-width: 320px) {
  .main-body {
    min-width: 320px;
  }
}

/* xs */
@media (min-width: 475px) {
  .main-body {
    min-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .main-body {
    min-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .main-body {
    min-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .main-body {
    min-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .main-body {
    min-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .main-body {
    min-width: 1536px;
  }
}