<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://api.fontshare.com/v2/css?f[]=general-sans@600,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/iphone.css">

  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="link-to-photography">
      <a href="photography.html" class="link">&lt; home</a>
    </div>
  </header>

  <div class="image-container">

    <div class="first">
      <img class="first-img" src="">
    </div>
  
    <div class="second">
      <img class="second-img" src="">
    </div>
  
    <div class="third">
      <img class="third-img" src="">
    </div>
  
    <div class="fourth">
      <img class="fourth-img" src="">
    </div>
  
    <div class="fifth">
      <img class="fifth-img" src="">
    </div>
    
    <div class="sixth">
      <img class="sixth-img" src="">
    </div>
  
    <div class="seventh">
      <img class="seventh-img" src="">
    </div>
  
    <div class="eighth">
      <img class="eighth-img" src="">
    </div>
  
    <div class="nineth">
      <img class="nineth-img" src="">
    </div>
  
    <div class="tenth">
      <img class="tenth-img" src="">
    </div>
  
    <div class="eleventh">
      <img class="eleventh-img" src="">
    </div>
  
    <div class="twelveth">
      <img class="twelveth-img" src="">
    </div>
  
  </div>

  <div class="footer">
    <div class="site-by">
      <p class="p-site-by">
        site by 
        <a href="index.html" class="">florancil</a>
      </p>
    </div>
  </div>

</body>
</html>